.FavoritesList_item{
    background: var(--d1-color);
    border: 5px solid var(--white-color);
    border-radius: 50%;
    opacity: 1; 
    width: 18vw;
    height: 18vw;
    padding: 1vh;
    margin: 1vh;
    /* for text */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.FavoritesList_container{
    /* margin-top: 90px; */
    /* margin-bottom: 20px; */
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    margin: 20px;
}


@media screen and (min-width: 768px){
    .FavoritesList_item{
        width: 95px;
        height: 95px;
    }
}
