.Loading {
    text-align: center;
  } 
  .Loading-main {
    background-color: var(--Light-color);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    position: absolute;
    z-index: 1002;
  }
  .Loading-main .App-logo{
    animation: 6000ms logoRotation infinite;
  }
  @keyframes logoRotation{
    0%{
        transform: rotate(0deg)
    }
    33.3%{
        transform: rotate(45deg)
    }
    66.6%{
        transform: rotate(-45deg)
    }
    100%{
        transform: rotate(0deg)
    }
}