/* animatons */
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* animatons */

.Queue_container{
    display: inline-block;
    align-self: center;
    width: 85vw;
    margin: 20px 0;
    background-color: var(--Light4-color);
    /* border: 6px solid blue; */
    box-shadow: 0px 3px 6px #00000029;
    /* box-shadow: 5px 5px 10px rgba(00, 00, 00, 0.5); */
}

.Queue_headline-container{
    display: flex;
    width: auto;
    height: auto;
    display: flex;
    background: var(--Background-color);
    color: white;
}
.Queue_headline{
    margin: 10px 10px;
}
.Queue_box{
    height: calc(100vh - 300px);
    /* height: 580px; */
    padding: 10px 10px;
    overflow: auto;
}
.Queue_User-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1px;
    margin: 20px 10px;
    padding: 6px;
    background-color: var(--p3-color);
    /* border: 1px solid grey; */
    /* border-radius: 5px; */
    /* box-shadow: 2.5px 2.5px 5px rgba(00, 00, 00, 0.5); */
    box-shadow: 0px 3px 6px #00000029;
}
.Queue_me{
    background-color: var(--d1-color);
}
.Queue_User{
    font-size: 25px;
    margin: 15px 4px;
}

/* animation */
.fadeIn{
    animation: fadeIn 300ms ease;
}
/* animation */
@media screen and (min-width: 1024px) {
    .Queue_container{
        width: 550px;
    }
}
