/* animatons */
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* animatons */

.Queue_container{
    display: inline-block;
    width: 85vw;
    margin: 20px 0;
    background-color: var(--Light-color);
    /* background-color: rgba(234, 130, 120, 0.1); */
    /* border: 6px solid blue; */
    box-shadow: 5px 5px 10px rgba(00, 00, 00, 0.5);
}

.Queue_headline-container{
    display: flex;
    width: auto;
    height: auto;
    display: flex;
    background: var(--Background-color);
    color: white;
}
.Queue_headline{
    margin: 10px 10px;
}
.Queue_box{
    height: calc(100vh - 300px);
    /* height: 580px; */
    padding: 10px 10px;
    overflow: auto;
}
.Queue_User-item{
    border-radius: 1px;
    margin: 20px 10px;
    padding: 6px;
    background-color: var(--p2-color);
    /* border: 1px solid grey; */
    /* border-radius: 5px; */
    box-shadow: 2.5px 2.5px 5px rgba(00, 00, 00, 0.5);
}
.Queue_username{
    font-size: 20px;
    margin: 6px 0;
}
.userinfo{
    margin: 4px 0;
}
.user-timer{
    margin: 4px 0;
}

/* animation */
.fadeIn{
    animation: fadeIn 300ms ease;
}
/* animation */
