.RestaurantList_container{
    height: 60vh;
    background-color: var(--p4-color);
    padding: 10px 10px;
    margin: 10px;
    overflow: auto;
}
.RestaurantList_item{
    display: flex;
    text-decoration: none;
    margin: 20px 10px;
    padding: 6px;
    align-items: center;
    color: var(--white-color);
    background-color: var(--p2-color);
    border: 3px solid var(--d1-color);
    border-radius: 15px;
    /* box-shadow: 2.5px 2.5px 5px rgba(125, 125, 125, 0.5); */
}
.RestaurantList_item:hover{
   background-color: var(--Light-color);
}
.RestaurantList_logo{
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px;
    flex-shrink: 0;
}

@media screen and (min-width: 768px) {
    .RestaurantList_container{
        width: 600px;
        align-self:center;
    }
}