.UserLogInComponent_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
}
.UserLogInComponent_item{
    -webkit-tap-highlight-color: rgb(58, 207, 21);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #019446;
}
.UserLogInComponent_item label{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
    color: white;
    text-align: left;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    /* display: inline-block; */
    margin-bottom: 0.5rem;
}

.UserLogInComponent_item input{
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
margin: 0;
/* overflow: visible; */
display: block;
width: 100%;
/* height: calc(1.5em + 0.75rem + 2px); */
padding: 0.375rem 0.75rem;
font-size: 2rem;
font-weight: 400;
line-height: 1.5;
color: var(--white-color);
background: #019446 0% 0% no-repeat padding-box;
border: none;
/* background-clip: padding-box; */
/* border: 1px solid #ced4da; */
/* border-radius: 0.25rem; */
/* transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
}
.UserLogInComponent_item input, button:focus{
    text-decoration: none;
    outline: none;
}
.UserLogInComponent_button{
    background: #02D464 0% 0% no-repeat padding-box;
    border: 5px solid #FFFFFF;
    border-radius: 10px;
    opacity: 1;
    margin-top: 150px;
    max-width: 335px;
    max-height: 81px;
    font-size: 3rem;
    font-weight: bold;
    color: var(--white-color);
    opacity: 0.9;
}
.UserLogInComponent_button:focus{
    opacity: 1;
    transition: 2ms ease;
}
/* #UserLogInComponent_Username{

}
#UserLogInComponent_PublicName{

}
#UserLogInComponent_Email{

} */