:root{
  --Background-color:#013318;
  --Light-color:#02D464;
  --p1-color:#014722;
  --p2-color:#028741;
  --p3-color:#019446;
  --p4-color:#016E34;
  --d1-color:#04BF5B;
  --d2-color:#03803D;
  --d3-color:#01401E;
  --white-color:#ffffff;
  --Navbar-size:50px;
  --Page-padding: 0 20px  var(--Navbar-size) 20px;
  }
body{
  background-color: var(--Background-color);
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
}



/* General Settings */

.Layout-container{
  display: block;
  height: auto;
  width: 100vw;
}
.App-title{
  font-size: 72px;
}
.Page-container{
  padding: var(--Page-padding);
  margin: 0;
  width: auto;
  min-height: calc(100vh - var(--Navbar-size));
  display: flex;
  flex-direction: column;
}
.Page-title{
  font-size: 50px;
  margin: 20px 0 34px 0;
}
/* General Settings */


/* General Details */
a{
  /* -webkit-tap-highlight-color: rgba(0,0,0,0); */
  text-decoration: none;
  color: var(--white-color);
}
/* General Details */

/* scrollbar style */
::-webkit-scrollbar {
  width: 6px;
  display: none;
  }
  
  ::-webkit-scrollbar-track {
  border: 1px solid var(--p2-color);
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
  background: var(--white-color);  
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
  background: var(--Light-color);  
  }
/* scrollbar style */

@media screen and (min-width: 1024px) {
  
}