:root{
  --Background-color:#013318;
  --Light-color:#02D464;
  --p1-color:#014722;
  --p2-color:#028741;
  --p3-color:#019446;
  --p4-color:#016E34;
  --d1-color:#04BF5B;
  --d2-color:#03803D;
  --d3-color:#01401E;
  --white-color:#ffffff;
  }
body{
  background-color: var(--Background-color);
  color: var(--white-color);
}
@media screen and (min-width: 1024px) {
  
}